body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.top-menu {
    background-color: #E7E9FC;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-colour {
    color: #2e2f42;
}

a {
    text-decoration: none;
    color: #2e2f42;

}

li {
    list-style-type: none;
}

.contact-details {
    font-weight: 400;
    font-style: normal;
}

.motto {
    background-color: #2E2F42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.motto-head {
    font-size: 56px;
    letter-spacing: 0.02em;
}
h1 {
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;

}

.btn {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    opacity: 0px;
    line-height: 1.5;
    cursor: pointer;
}

.btn:hover {
    background-color: #404bbf;
}

.btn:focus {
    background-color: #404bbf;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

footer {
    opacity: 0px;
    color: #e7e9fc;
    background-color: #2E2F42;
    ;
}


.team {
    background-color: #F4F4FD;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2E2F42;
    
}
.team-head {
    line-height: 1.11;
    font-size: 20px;
    line-height: 1.2;
}

.team-one {
    background-color: #FFFFFF;
}

.team-one-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.first {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.first:hover {
    color: #404bbf;
}

.first:focus {
    color: #404bbf;
}

.mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail:hover {
    color: #404bbf;
}

.mail:focus {
    color: #404bbf;
}

.value-one {
    font-size: 20px;
    color: #2E2F42;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.2;

}

.value-one-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-head {
    line-height: 1.11;
    text-transform: capitalize;
    color: #2E2F42;
}
.portfolio-head-image {
color: #2E2F42;
}
.portfolio-head-text {
line-height: 1.5;
letter-spacing: 0.02em;

}
.logo-buttom {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #e7e9fc;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}